/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.idea/

/build
.DS_Store
*.pem

.env
tsconfig.tsbuildinfo
packages/worker/dist/**

CLAUDE.md
.agent-project.json
/.github/copilot-instructions.md
/.github/git-commit-instructions.md
migration_lock.toml
